
/* BACKGROUND SHAPES */
.background {
    /* temp */  /* TEST CANVAS */
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -100;
    /* temp */
}
.obj {
    /* Position */
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: -100;  /* TEMP --> Adjust layering later */
    
    /* Size */
    height: 300px;
    width: 300px;

    /* Style */
    background-color: rgba(177, 149, 59, 0.158);
    border-radius: 50%;
    filter: blur(5em);

    /* Animation */
    animation: circle-animate 5s infinite alternate;
}
.obj:nth-of-type(2) {
    /* Position */
    top: 150px;
    left: 150px;
}
.obj:nth-of-type(3) {
    /* Position */
    top: 200px;
    left: 200px;
}
.obj:nth-of-type(4) {
    /* Position */
    top: 250px;
    left: 250px;
}

@keyframes circle-animate {
    0% {
        width: 300px;
        height: 300px;
    }
    100% {
        width: 600px;
        height: 600px;
    }
}