/* NOTES */
/* NOTES */

/* CSS VARIABLES */
:root {
    --white: rgb(255, 255, 255);

    /* DEFINE BACKGROUND GRADIENT COLOURS */
    --bg-gradient-primary: rgb(23, 19, 78);
    --bg-gradient-secondary: rgb(13, 13, 19);

    /* BACKGROUND GRADIENT */
    --bg-gradient: var(--bg-gradient-primary), var(--bg-gradient-secondary);

    /* FONT GRADIENT */
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );    
}
/* CSS VARIABLES */

.preload-transitions * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}


/* ANIMATIONS */
@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}
/* ANIMATIONS */

/*  SWITCHES */
.gradient-text {
    /* Animated gradient text */
    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: bg-animation 5s infinite alternate;
}
/*  SWITCHES */






/* Use the colors to transition to */
.social-media svg {
    transition: scale 0.5s;
}

.social-media:hover svg {
    scale: 1.2;
}

.social-media stop {
    -webkit-transition: .4s ease;
    transition: .4s ease;
    stop-color: white;
}

.social-media:hover stop:nth-child(1) {
    stop-color: #ff9671;
}

.social-media:hover stop:nth-child(2) {
    stop-color: #ffc75f;
}

.social-media:hover stop:nth-child(3) {
    stop-color: #f9f871;
}


/* MENU */

.menu {
    height: 100vh;
    width: 100vw;
    max-width: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    /* Border */
    border-top: 1em solid;
    border-bottom: 1em solid;
    border-image-slice: 1;
    border-image-source: var(--gradient);

    /* Position */
    position: absolute;
    z-index: -5;
    opacity: 0;
    background: linear-gradient(var(--bg-gradient));
}

.menu > a {
    height: 10vh;
    font-size: clamp(3em, 10vw, 6em);
    /* font-size: 4em; */
    font-weight: 600;
    margin: 0.25em;
    text-decoration: underline rgba(0, 0, 0, 0);
    text-underline-offset: 0.2em;
    transition: text-decoration-color 1s;
    cursor: pointer;
}

.menu > a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}


/* UNIVERSAL STYLES */

/* Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    /* Implements standard font across website */
    font-family: 'Rubik', sans-serif;

    /* Static background visibile across all pages */
    background: linear-gradient(var(--bg-gradient));

    /* Scroll Settings */
    overflow-y: scroll;
    scroll-snap-type: y mandatory; 

    /* Disable scrollbar */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */

    /* Position */
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

/* Images and SVGs */
svg {
    fill: var(--white);
}

/* Sections */
section {
    
    /* Size */
    height: 100vh;
    max-width: 1620px;
    
    /* Display + Positioning */
    position: relative;
    display: flex;
    align-items: center;

    /* Scroll */
    scroll-snap-align: start;
}


.section-image-holder {
    /* Display */
    display: flex;
    justify-content: flex-end;

    /* Size + dimensions */
    height: 75vh;
    width: 60%;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%); /* Allows for the transition animation of clipped frame */

    /* Position */
    margin-left: 1.5em;
    z-index: 1; /* positions image under text */
    position: relative;

    /* Style */
    filter: drop-shadow(3em 2em 0em rgba(23, 19, 78, 0.2));

    /* Border */
    border-right: 1em solid;
    border-image-slice: 1;
    border-image-source: var(--gradient);

    /* Animation */
    /* transition:  2s; */
}


    /* Alternates image position on every second page */
    section:nth-of-type(odd) .section-image-holder {
        margin-left: auto;
        margin-right: 1.5em;
    }

    section:nth-of-type(even) .section-image-holder {
        /* Display */
        justify-content: flex-start;

        /* Size + dimensions */ /* IMPORTANT */ 
        clip-path: polygon(0 0, 70% 0%, 100% 100%, 0% 100%); /* Allows for the transition animation of clipped frame */
        
        /* Style */
        filter: drop-shadow(-3em 2em 0em rgba(23, 19, 78, 0.2));
        
        /* Border */
        border-right: none;
        border-left: 1em solid;
    }    

    .section-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        clip-path: polygon(0 0, 70% 0%, 100% 100%, 0% 100%);
        transition: clip-path 2s, opacity 2s, width 2s;
    }

    section:nth-of-type(odd) .section-image {
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
    }

    
    .image-overlay {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        /* temp */
        background: rgb(0, 0, 0);
        opacity: 0.1;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        transition: clip-path 2s, opacity 2s, width 2s;
        clip-path: polygon(0 0, 70% 0%, 100% 100%, 0% 100%);
    }

    section:nth-of-type(odd) .image-overlay {
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
    }

 


.section-text {

    /* Size + dimensions */
    height: 75vh;
    width: calc(70% - 2.7em);
    max-width: 850px;

    /* Position */
    position: absolute;
    z-index: 1; /* positions text above image */

    /* Styling */
    padding: 1em;
}
    /* Alternates text position on every second page */
    section:nth-of-type(even) .section-text {
        right: 1.5em;
        
    }

    section:nth-of-type(odd) .section-text {
        left: 1.5em;
    }

    .text {
        /* temp */
        z-index: 99999;
        /* temp */

        /* Display */
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;

        /* Font color */
        color: var(--white);
    }

    section:nth-of-type(even) .text {
        align-items: flex-end;
    }

    section:nth-of-type(odd) .text {
        align-items: flex-start;
    }

    .text > * {
        /* Spacing */
        margin: 10px;
    }

    section:nth-of-type(even) .text {
        text-align: right;
    }



    .text-heading {
        /* Animated gradient text */
        background-image: var(--gradient);
        background-clip: text;
        color: transparent;
        background-size: 400%;
        animation: bg-animation 5s infinite alternate;

        /* Font sizing */
        font-size: clamp(3em, 4vw, 170px);
        /* font-size: 3em; */
        /* font-size: 300%; */
    }

    /* Standard styling for divider elements */
    .dividers {
        width: 50%;
    }

    .text-divider {
        /* Divider size */
        height: 3px;
        width: 100%;
        max-width: 15em;

        /* Divider color */
        background-color: rgb(255, 255, 255);

        /* Divider styling*/
        border-radius: 10px;

        /* Divider spacing */
        margin: 10x 5px;
    }

    /* Positioning for right divider */
    section:nth-of-type(even) .text-divider {
        background-color: rgb(255, 255, 255);
        margin-left: auto;
    }

    .text-blurb {
        /* Font styling */
        line-height: 1.75;
        
        font-size: clamp(1.3em, 1.8vw, 3vh);
        font-weight: 300;

        /* Blurb width */
        width: 60%;


    }



    .text-btn {
        /* Button display */
        display: flex;

        /* Button position */
        margin-top: 3em;

        /* Button Size */
        width: 10em;      
        padding: 10px;  

        /* Button styling */
        background-image: var(--gradient);
        animation: bg-animation 5s infinite alternate;
        border-radius: 20px;
    }

    .btn-link {
        /* Text styling */
        color: var(--white);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;

        /* Text positioning */
        margin: auto;
    }



/* EXPANDED ON PAGE TEXT */


    /* CONTAINER FOR EXPANDED TEXT */
    .text-full {
        /* Position */
        position: absolute;
        height: calc(100% - 2em); /* matches margins */
        width: calc(100% - 2em);  /* allows image to border */
        max-width: 50em;
        opacity: 0;
        
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        z-index: -1;

        /* animation */
        transition: opacity .35s, z-index 1.5s;
    }

    /* HEADING FOR EXPANDED TEXT */
    .text-full .text-heading {
        font-size: clamp(2em, 4vw, 50px);
    }

    /* CONTAINER FOR MAIN TEXT ITEMS */

    .text-full-description {
        
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    

        /* Font styling */
        color: black;
        font-weight: 300;
        line-height: 1.7;
        font-size: clamp(1em, 2vw, 2vh);
        /* font-stretch: semi-expanded; */
        /* overflow: scroll; */

        margin: 1em 0;
    }

    /* TEXT FOR EXPANDED TEXT */
    .text-main-description {
        /* Position and size */
        flex: 1;
  
    }


    /* IMG FOR EXPANDED TEXT */
    .text-full-img {
        height: 30%;
        width: 30%;
       
        margin: 0 1em;
        opacity: 1;

        filter: drop-shadow(2px 2px 5px black) brightness(1.5);
        object-fit: cover;
        object-position: top left;
    }

    .text-nav a {
        font-weight: 500;
    }



  
    section:nth-of-type(odd) .text-full-img {
        float: left;
        margin-left: 0;
    }
  
    section:nth-of-type(even) .text-full-img {
        float: right;
        margin-right: 0; 
    } 

    .text-full > .text-btn {
        /* Button position */
        margin: 0 auto;
    }
    

    .contact-form {
        /* Display */
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        /* Position and spacing */
        width: 100;
        max-width: 30em;
        margin-left: 0.5em;
        padding-right: 0.5em;

        /* Font styling */
        /* font-size: 0.75em; */
    }

    .contact-form > input, select, textarea {
        margin-bottom: 1em;
    }

    .contact-form * {
        padding: 0 10px;
        /* font-size: 1.em; */
    }

    .contact-form label {
        background-color: red;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .contact-form label:nth-of-type(1){
        background-color: #d65db1;
    }
    .contact-form label:nth-of-type(2){
        background-color: #ff6f91;
    }
    .contact-form label:nth-of-type(3){
        background-color: #ff9671;
    }
    .contact-form label:nth-of-type(4){
        background-color: #ffc75f;
    }
    .contact-form label:nth-of-type(5){
        background-color: #f9f871;
    }

    .contact-form > input:last-child {
        margin-top: 2em;
    }


/* END EXPANDED ON PAGE TEXT */


/* UNIVERSAL STYLES */




/* ABSOLUTE POSITIONED CONTENT */
/* HEADER + FOOTER */
    .header, .footer {
            /* Size */
            margin: 1.5em;

            /* Styling */
            color: var(--white);
    }
/* HEADER + FOOTER */

    /* HEADER */
    .header {
        /* Position */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1001;

        /* Display */
        display: flex;
        align-items: center;
    }

        .header > div:not(.logo) {
            /* Position */
            margin-left: 2em;
        }

        /* Website logo ("Chris Adams") */
        .logo {
            /* Position */
            margin-right: auto;

            /* Font Styling */
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 1.5em;

            /* animation */
            transition: 1s;
        }
        

        .logo:hover {
            /* Animated gradient text */
            background-image: var(--gradient);
            background-clip: text;
            color: transparent;
            background-size: 400%;
            animation: bg-animation 5s infinite alternate;
        }

        .social-media a {
            display: grid;
            place-items: center;  
            cursor: pointer;
        }
    /* HEADER */

    /* HAMBURGER MENU STYLING */
        .hamburger-container {
            border: 1px solid transparent; /* fixes alignment */
            position: relative;
            scale: 1.2;
            height: 19px;
            width: 23px;
            cursor: pointer;
        }

        .hamburger {
            height: 2px;
            width: 21px;
            background-color: var(--white);
            position: absolute;
            transform-origin: left;
        }

        .hamburger:nth-of-type(1) {
            transition: 0.7s;
            top: 0px;
        }

        .hamburger:nth-of-type(2){
            transition: 0.3s;
            top: 7.5px;
        }

        .hamburger:nth-of-type(3){
            transition: 0.7s;
            top: 15px;
        }
    /* HAMBURGER MENU STYLING */

    /* FOOTER */
        .footer {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 999;
        }

            .nav {
                height: 20px;
                width: 2px;
                background-color: var(--white);
                margin: 0 15px;
                
                transition: 1s;
            }

            .currentNav {
                height: 35px;
            }

        .section-title {
            /* Font styling */
            color: var(--white);
            font-weight: 700;
            letter-spacing: 0.2em;
            writing-mode: vertical-rl;

            margin: 0;
            padding: 0;

            /* Position */
            position: absolute;
            /* bottom: 1.5em; */
            /* bottom: 7.5em; */
            bottom: 13vh;
            left: 1.4em;
            z-index: 999;

            /* animation */
            transition: bottom 2s;
        }

        section:nth-of-type(odd) .section-title {
            left: unset;
            right: 1.4em;

        }
    /* FOOTER */
/* ABSOLUTE POSITIONED CONTENT */


/* HOVERS */
    .section-image-holder:hover .section-image {
        opacity: 0.6;
    }


/* TOGGLES */
/* Notes - image clipping inherited from higher specifity :nth-of-type() */
/* Notes - transitions are janky and conflicted */

/* Toggles on / off the text blurb */
.text-blurb-toggle {
    transition: 1s;
    opacity: 0;
    z-index: -1;
}

.section-image-holder-toggle {
    width: calc(100% - 3em); 
    background: white; 
    clip-path: none !important;
}

.section-image-toggle {
    width: 30%; 
    clip-path: none !important;
}


@media screen and (max-width: 500px) {
    .section-text-toggle {
        /* Size + dimensions */
        width: calc(100% - 4em);
    }

    .section-image-toggle {
        width: 0%; 
        clip-path: none !important;
    }
    
}


.text-full-toggle {
    transition: 1s;
    transition-delay: 1.5s;
    opacity: 1; 
    z-index: 1;
}

.section-title-toggle {
    bottom: 43vh; 
    transition: 1s
}



@media screen and (min-width: 1024px) {
    section {
        
        margin: 0 auto;
    }

}

.text-main-description p:first-of-type {
    font-style: italic;
    font-weight: 400;
    margin: 1em 0;
}